<%- include('../partials/header') %>

<div class="login-page">
    <h1>Login</h1>
    <%- include('../partials/messages') %>

    <form class="login" action="/account/login" method="POST">
        <div>
            <label for="account_email">Email:</label>
            <input type="email" name="account_email" id="account_email" required>
        </div>
        <div>
            <label for="account_password">Password:</label>
            <input type="password" name="account_password" id="account_password" required>
            <span id="showPw" onclick="togglePassword()">Show Password</span>
        </div>
        <button type="submit">Login</button>
        <p>No account? <a href="/account/register">Sign-up</a></p>
    </form>
</div>

<script>
    function togglePassword() {
        const passwordInput = document.getElementById('account_password');
        const showPwButton = document.getElementById('showPw');
        
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            showPwButton.textContent = 'Hide Password';
        } else {
            passwordInput.type = 'password';
            showPwButton.textContent = 'Show Password';
        }
    }
</script>

<%- include('../partials/footer') %>