<% const year = new Date().getFullYear(); %>
<footer style="text-align: center; padding: 1rem 0;">
  <p>&copy; <%= year %> CSE Motors. All rights reserved.</p>
  <p>
    <a href="/views/errors/505.ejs"> 500 Error</a>
  </p>
</footer>
